<mat-nav-list>
    <a mat-list-item
       (click)="onCloseSidenav()">
        <span class="nav-caption">CELEBRATION CAKES</span>
    </a>
    <a mat-list-item
       (click)="onCloseSidenav()">
        <span class="nav-caption">CUPCAKESCAKES IN-A-TIN</span>
    </a>
    <a mat-list-item
       (click)="onCloseSidenav()">
        <span class="nav-caption">GIFT CAKESPHOTO CAKES</span>
    </a>
    <a mat-list-item
       (click)="onCloseSidenav()">
        <span class="nav-caption">CORPORATE CAKES</span>
    </a>
    <!-- <mat-list-item>
        <button mat-icon-button>
            <span class="nav-caption">CORPORATE CAKES</span>
        </button>
    </mat-list-item> -->
</mat-nav-list>